.harddiskled-label {
    font-size: 1em;
    width: 4em;
    text-align: right;
}

/*.harddiskled-static-icon {
    font-size: 14px;
    width: 15px;
    text-align: left;
}*/

.harddiskled-icon {
    font-size: 1em;
    width: 1.2em;
    text-align: center;
    color: lime;
}

.harddiskled-container {
    spacing: 0px;
    margin-left: 2px;
    margin-right: 2px;
}
